@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
}
nav {
  width: 100%;
  height: 48px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 40px;
}
nav ul li a {
  font-weight: 300;
  color: #adadad;
  transition: 600ms;
}
nav ul li a:hover {
  color: #ebdf41;
}

/*--- section welcome ---*/
.welcome {
 margin: 0;
 padding: 0;
 height: 100vh;
 display: flex;
 justify-content:center ;
 align-items: center;
 background: url(./img/Water\ Background.jpeg);
}
.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: white;
}

/*--- section product ---*/

.container {
  width: 1070px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.grid-product {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.grid-product:hover {
  background: #e1e1e1;
}
.grid-product img {
  width: 350px;
}
.grid-detail {
  margin: 10px 0;
  text-align: center;
}
.grid-detail p:last-child {
  transition: .5s;
  margin-top: 10px;
}
.grid-product:hover > .grid-detail p:last-child {
  color: #3498db;
}

/*-------*/
.grid-full {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.grid-product-full {
  background: #f1f1f1;
  grid-column: span 3;
  display: flex;
  position: relative;
}
.grid-detail-sum {
  position: absolute;
  top: 30%;
  right: 0%;
  text-align: center;
}
.grid-detail-sum h2 {
  font-size: 3rem;
  font-weight: 500;
}
.grid-detail-sum p {
  margin: 20px 0;
}
.grid-detail-sum a {
  color: #3498db;
}
.grid-detail-sum a:hover {
  text-decoration: underline;
}

/*--- footer ---*/
footer {
  width: 100%;
  height: 175px;
  background: #b0eb95;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-main {
  width: 1070px;
}
.footer-detail {
  font-size: .7rem;
  color: #111b1b;
  padding: 20px 0;
  border-bottom: 1px solid #bdc3c7;
}
.footer-detail a {
  color: #2c3e50;
}
.footer-detail a:hover {
  text-decoration: underline;
}
.footer-welcome {
  display: flex;
  margin: 20px 0;
  font-size: .8rem;
  color: #34495e;
}
.footer-welcome i {
  margin-right: 10px;
}
.footer-ul {
  display: flex;
  justify-content: space-between;
}
.footer-ul ul {
  list-style: none;
}
.footer-ul ul li {
  margin: 7px 0;
}
.footer-ul ul li h4 {
  color: #0c1925;
  font-size: .7rem;
}
.footer-ul ul li a {
  color: #172020;
  font-size: .7rem;
}
.footer-ul ul li a:hover {
  text-decoration: underline; 
}
#mt {
  padding-top: 30px;
}
.footer-contact {
  border-bottom: 1px solid #73a5c7;
  padding: 12px 0;
  margin: 10px 0;
  color: #0d2224;
  font-size: .7rem;
}
.footer-contact a {
  color: #1f5070;
}
.footer-contact a:hover {
  text-decoration: underline;
}
.footer-copyright {
  color: #260b57;
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
}
.footer-copyright ul {
  display: flex;
  list-style: none;
  width: auto;
}
.footer-copyright ul li {
  margin: 0 10px;
}
.footer-copyright ul li a {
  color: #7f8c8d;
}
.footer-copyright ul li a:hover {
  text-decoration: underline; 
}
.vr {
  height: 15px;
  width: 1px;
  background: #bdc3c7;
}
.footer-lang {
  display: flex;
}
.footer-lang p {
  margin: 0 10px;
}
.circle {
  width: 15px;
  height: 15px;
}
.circle img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radus: 50%;
}

header {
  background: green;
  color: limegreen;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: yellow 3px solid;
}

#newsletter {
  padding: 3px;
  color: rgb(204, 204, 196);
  background: rgb(8, 14, 8);
}

#newsletter h1{
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
    width: 30%;
  padding: 10px;
    
  
}

#boxes .box img{
  width: 90px;
  
}

aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

article#main-col{
  float: left;
  width: 65%;
}

ul#services li{
  list-style: none;
  padding: 20px;
  border: #ccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

.container1 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container1 h1{
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: rgb(241, 41, 41);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}

.button_1:hover{
  color: yellow;
  font-weight: bold;
}

.dark {
  padding: 15px;
  background: rgb(91, 94, 94);
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.dark h3{
  text-align: center;
}
.dark1 img {
  width: 325px;
}

body{
  font: 15px/1.5 Arial;
  padding: 0;
  margin: 0;
}

.sections {
  text-align: justify;
}